@import url('http://fonts.cdnfonts.com/css/porter');

body
{
    background-color: #123731;
    font-family: 'Porter', sans-serif;
}


h3
{
    color: #9CCA91;
}

textarea
{
    background-color: #4D7850;
    color: white;
    border: none;
    outline: none;
}

label
{
    color: white;
}

#num_rounds
{
    background-color: #194A40;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
}

#generate_button
{
    background-color: #4D7850;
    color: white;
    border: none;
    outline: none;
    padding: 5px;
}




#standings
{
    border: 0px solid black;
    border-spacing: 4px;
    padding: 4px;
}

#standings th
{
    background-color: #4D7850;
    padding: 10px;
    color: white;
}

#standings td
{
    background-color: #194A40;
    padding: 10px;
    color: white;
}




#matches_div table
{
    border: 0px solid black;
    border-spacing: 4px;
    padding: 4px;
}

#matches_div td
{
    background-color: #194A40;
    padding: 10px 16px;
    color: white;
}

#matches_div th
{
    background-color: #194A40;
    padding: 10px 16px;
    color: white;
}


#matches_div td:hover
{
    background-color: #4D7850;
    padding: 10px 16px;
    color: white;
}

.selected:hover
{
    background-color: #EFB34C !important;
    padding: 10px 16px;
    color: #70490A !important;
}

.unselected:hover
{
    background-color: #4D7850 !important;
    padding: 10px 16px;
    color: white !important;
}


.white
{
    background-color: white !important;
    padding: 10px 16px;
}

.black
{
    background-color: black !important;
    padding: 10px 16px;
}

